<a href="https://colab.research.google.com/github/MikhailGalperin/MyFirstRep/blob/main/Homework__08dec2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# План занятия
 - Локальные БД. Работа с библиотекой sqlite3
 - Представление БД с использованием Pandas
 - Удаленные БД. Работа с библиотекой SQLAlchemy

# Введение

База данных может храниться локально, на том же компьютере, на котором запускается прикладное программное обеспечение для работы с базой данных или на удаленном компьютере.

Google Colab (точнее Python, запускаемый в среде Google Colab) позволяет работать и с условно «локальной» базой данных и с базой данных на удаленном сервере. 
- В первом случае может использоваться СУБД **SQLite**, которая будет хранится на облачном диске Google Drive. Для среды Google Colab это будет локальная БД.
- В случае работы с удаленной БД можно использовать **SQLAlchemy**.

Оба модуля **SQLite** и **SQLAlchemy** рассмотрим ниже.

# SQLite

**SQLite** — компактная встраиваемая реляционная база данных. Является чисто реляционной базой данных.

Слово «встраиваемый» означает, что SQLite **не использует парадигму клиент-сервер.** Модуль sqlite3 входит в установочный пакет языка Python, является компонентом стандартной библиотеки и не требует отдельной загрузки и установки.

Pipeline для работы с БД при помощи библиотеки SQLite

``` 
import sqlite3

conn = sqlite3.connect(path)

cursor = conn.cursor()

# Работа с БД
# ...
# ...

cursor.close()
conn.close()
```

## Подключение к базе данных

Для доступа к диску Google Drive сервису Google Colab необходимо дать разрешение на подключение к диску.

Для подключения и разрешения доступа Google Colab к диску Google Drive используем следующий код:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

Подключаем модуль для работы с базой SQLite

In [ ]:
import sqlite3

Непосредственно модуль sqlite3 – это API к СУБД SQLite. Своего рода адаптер, который переводит команды, написанные на Питоне, в команды, которые понимает SQLite. Как и наоборот, доставляет ответы от SQLite в python-программу.

In [ ]:
dir(sqlite3)

Создадим папку "my_databases", где будут хранится наши БД

In [ ]:
import os
path = "./drive/My Drive/my_databases"
if not os.path.exists(path):
    os.mkdir(path)

In [ ]:
os.path.exists(path)

Подключаемся к базе test.db. Если этого файла нет в каталоге, то он будет создан.

Вызов функции connect() приводит к созданию объекта-экземпляра от класса Connection. Этот объект обеспечивает связь с файлом базы данных, представляет конкретную БД в программе:

In [ ]:
conn = sqlite3.connect(path + '/test.db')
print("Opened database successfully");

После того как экземпляр Connection создан, чтобы выполнять SQL-команды, надо создать еще один объект, но теперь уже от класса Cursor. Делается это с помощью метода cursor() объекта типа Connection:

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

#conn.close()

Заполнять таблицы можно тоже с помощью **execute().**

In [ ]:
# INSERTING VALUES

cursor.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
cursor.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")

Однако, если требуется вставить несколько записей, лучше воспользоваться методом **executemany():**

In [ ]:
sections = [('Arsenal', 'UK', 2019, 52), ('Real Madrid', 'Spain', 2018, 49),
             ('Barcelona', 'Spain', 2018, 45), ('Arsenal', 'UK', 2018, 50 )]
cursor.executemany("INSERT INTO team_data VALUES (?, ?, ?, ?)", sections)

Для того, чтобы корректно завершить работу с базой данных, надо применить изменения (выполнить транзакцию) **commit()** и разорвать соединение **close()**. Обратите внимание, это делается по отношению к экземпляру Connection, а не Cursor:

In [ ]:
conn.commit()
conn.close()

In [ ]:
# Average goal by team

conn = sqlite3.connect(path + '/test.db')
# Создаем объект типа cursor для доступа к данным
cursor = conn.cursor()

#Запрос данных из таблицы 
sql  = '''SELECT team, total_goals FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

In [ ]:
#Запрос данных из таблицы 
sql  = ''' SELECT team, AVG(total_goals) FROM team_data'''

cursor.execute(sql)

for row in cursor:
    print(row)

Почему на выходе получили только 1 комманду?

In [ ]:
sql  = ''' SELECT team, AVG(total_goals) AS avg_goals FROM team_data GROUP BY team;'''
cursor.execute(sql)

for row in cursor:
  print(row)

In [ ]:
cursor.close()
conn.close()

In [ ]:
# First try to filter the teams with average goals higher than 50
# This query will generate an error

conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

sql = ''' SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team 
                          HAVING AVG(total_goals) > 50;'''
                          
cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

In [ ]:
# Now, the correct query, using the appropriate sub-query

conn = sqlite3.connect(path + '/test.db')

cursor = conn.cursor()

sql = ''' SELECT team_name, avg_goals
                          FROM (

                          -- Here we make our sub-query:
                            SELECT team AS team_name,
                            AVG(total_goals) AS avg_goals
                            FROM team_data
                            GROUP BY team) tp
                          -- End of the sub-query
                          
                          WHERE avg_goals > 50;'''

cursor.execute(sql)

for row in cursor:
  print(row)
conn.close()

Для наглядного представления табличных данных можно использовать библиотеку pandas:

In [ ]:
import pandas as pd


conn = sqlite3.connect(path + '/test.db')
cursor = conn.cursor()

#sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
sql  = '''SELECT team, total_goals FROM team_data;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

In [ ]:
rows

In [ ]:
pd.DataFrame(rows, columns=('Team', 'Goals') )

In [ ]:
sql  = '''SELECT team, total_goals AS avg_goals FROM team_data GROUP BY team;'''
                          
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()

pd.DataFrame(rows, columns=('Team', 'Goals'))

In [ ]:
cursor.close()
conn.close()

<center><img src='https://raw.githubusercontent.com/ddvika/Data-Science-School-2020/main/lecture_5/imgs/typical_sql.tiff' height = 550></center>

# SQLAlchemy

**ORM** расшифровывается как object-relational mapping,  или объектно-реляционное отображение — подход к работе с базами данных, использующий  концепции объектно-ориентированных языков программирования.   Объектно-реляционное отображение позволяет оперировать объектами в коде, что гораздо удобнее, чем работать с запросами и таблицами.


Иными словами, можно обращаться к объектам классов для управления данными в таблицах БД. Также можно создавать, изменять, удалять, фильтровать и, самое главное, наследовать объекты классов, сопоставленные с таблицами БД, что существенно сокращает наполнение кодовой базы.

**SQLAlchemy** — это библиотека на языке Python для работы с реляционными СУБД с применением технологии ORM. Служит для синхронизации объектов Python и записей реляционной базы данных. SQLAlchemy позволяет описывать структуры баз данных и способы взаимодействия с ними на языке Python без использования SQL.

### Создадим новую базу данных с нуля
Давайте создадим новую базу данных с нуля, для этого:
1. Создадим классы для определения схемы.
2. Сопоставим схему с базой данных.
3. Добавим объекты в базу данных
4. Напишем запросы

### 1. Запустим database session

In [ ]:
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
engine = create_engine('sqlite:///:memory:', echo=True)
#engine = create_engine('sqlite:///:memory:')
conn = engine.connect()

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

2020-12-15 15:46:29,534 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-15 15:46:29,535 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:46:29,538 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-15 15:46:29,542 INFO sqlalchemy.engine.base.Engine ()

В случае если мы хоти подкоючится к удаленной БД, код будет выглядить примерно так:

```
def connect_to_db(uid):
    # создаем объект подключения
    sql = create_engine(
        f'mysql+mysqlconnector://user{uid}:userpassword{uid}'   # LOGIN, PASSWORD
        f'@157.230.109.1/classicmodels_user_{uid}',             # HOST IP
        pool_recycle=60
    )
    connection = sql.connect()
    return connection
    # отправка комманд без чтения/записи (например удаление) в самом конце

connection = connect_to_db(uid=5)
connection
```

### 2. Вспомогательные функции для печати и вывода результатов SQL запросов

In [ ]:
from IPython.display import display
import pandas as pd
import sqlalchemy

def sql(query):
    print()
    print(query)
    print()

def get_results(query):
    global engine
    q = query.statement if isinstance(query, sqlalchemy.orm.query.Query) else query
    return pd.read_sql(q, engine)

def display_results(query):
    df = get_results(query)
    display(df)
    #sql(query)

### 3. Инициализация схемы БД

Схема - это пространство имен, которое содержит именованные объекты базы данных, такие как таблицы, представления, индексы, типы данных

In [ ]:
!pip install sqlalchemy_explore

Requirement already satisfied: sqlalchemy_explore in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from sqlalchemy_explore) (1.3.20)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
import sqlalchemy_explore

### the basic base class for SQLAlchemy schema objects
# Base = declarative_base(bind=engine)

### base class including utils like an __repr__ method
### see https://pypi.org/project/sqlalchemy-explore/
Base = declarative_base(cls=sqlalchemy_explore.ReflectiveMixin)

### Создание самой схемы

In [ ]:
from sqlalchemy import Column, DateTime, ForeignKey, Integer, NVARCHAR, Numeric, Sequence
from sqlalchemy.orm import relationship

class Customer(Base):
    __tablename__ = 'customers'

    CustomerId = Column(Integer, Sequence('customer_id_seq'), primary_key=True)
    FirstName = Column(NVARCHAR(40), nullable=False)
    LastName = Column(NVARCHAR(20), nullable=False)
    Company = Column(NVARCHAR(80))
    Address = Column(NVARCHAR(70))
    Phone = Column(NVARCHAR(24))
    Email = Column(NVARCHAR(60), nullable=False)
    
class Item(Base):
    __tablename__ = 'items'
    
    ItemId = Column(Integer, Sequence('item_id_seq'), primary_key=True)
    Name = Column(NVARCHAR(40), nullable=False)
    Price = Column(Numeric, nullable=False)

class Purchase(Base):
    __tablename__ = 'purchases'
    
    PurchaseId = Column(Integer, Sequence('purchase_id_seq'), primary_key=True)
    ItemId = Column(ForeignKey('items.ItemId'), nullable=False, index=True)
    CustomerId = Column(ForeignKey('customers.CustomerId'), nullable=False, index=True)
    Date = Column(DateTime, nullable=False)
    
    item = relationship('Item')
    customer = relationship('Customer')

In [ ]:
Purchase.ItemId.name

'ItemId'

In [ ]:
Purchase.CustomerId.name

'CustomerId'

### 5. Создадим таблицы в базе данных в соответствии со схемой

In [ ]:
Base.metadata.create_all(engine)

2020-12-15 15:47:09,156 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers")
2020-12-15 15:47:09,158 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,164 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers")
2020-12-15 15:47:09,166 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,168 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("items")
2020-12-15 15:47:09,171 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,174 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("items")
2020-12-15 15:47:09,176 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,178 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("purchases")
2020-12-15 15:47:09,179 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,181 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("purchases")
2020-12-15 15:47:09,183 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,189 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"Phone" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	PRIMARY KEY ("CustomerId")
)


2020-12-15 15:47:09,193 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,194 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 15:47:09,196 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	"ItemId" INTEGER NOT NULL,
	"Name" NVARCHAR(40) NOT NULL,
	"Price" NUMERIC NOT NULL,
	PRIMARY KEY ("ItemId")
)


2020-12-15 15:47:09,198 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,199 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 15:47:09,201 INFO sqlalchemy.engine.base.Engine
CREATE TABLE purchases (
	"PurchaseId" INTEGER NOT NULL,
	"ItemId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"Date" DATETIME NOT NULL,
	PRIMARY KEY ("PurchaseId"),
	FOREIGN KEY("ItemId") REFERENCES items ("ItemId"),
	FOREIGN KEY("CustomerId") REFERENCES customers ("CustomerId")
)


2020-12-15 15:47:09,202 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,203 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 15:47:09,205 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_CustomerId" ON purchases ("CustomerId")
2020-12-15 15:47:09,206 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,207 INFO sqlalchemy.engine.base.Engine COMMIT
2020-12-15 15:47:09,209 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_purchases_ItemId" ON purchases ("ItemId")
2020-12-15 15:47:09,210 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:47:09,211 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
engine.table_names()

2020-12-15 15:47:15,085 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-12-15 15:47:15,087 INFO sqlalchemy.engine.base.Engine ()

['customers', 'items', 'purchases']

### 6. Создадим покупателя

In [ ]:
moshe = Customer(
    FirstName='Moshe', 
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="053-5556789", 
    Email='moshe@cohen.com')

session.add(moshe)
session.commit()

2020-12-15 15:47:18,127 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 15:47:18,132 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 15:47:18,136 INFO sqlalchemy.engine.base.Engine ('Moshe', 'Cohen', None, 'Alenbi 99, Tel Aviv', '053-5556789', 'moshe@cohen.com')
2020-12-15 15:47:18,140 INFO sqlalchemy.engine.base.Engine COMMIT

### 7. Выполним запрос

Используя язык выражений SQLAchemy

In [ ]:
from sqlalchemy import select 

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
results = conn.execute(customers_query)

print()
for row in results:
    print(row)

print()
print(type(row)) # rows are of type sqlalchemy.engine.result.RowProxy

2020-12-15 15:47:21,925 INFO sqlalchemy.engine.base.Engine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-15 15:47:21,929 INFO sqlalchemy.engine.base.Engine ()

('Moshe', 'Cohen', 'moshe@cohen.com')

<class 'sqlalchemy.engine.result.RowProxy'>

In [ ]:
display_results(customers_query)

2020-12-15 15:47:25,565 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
2020-12-15 15:47:25,567 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0     Moshe    Cohen  moshe@cohen.com

### 8. Добавим еще покупателей

In [ ]:
Lisa = Customer(
    FirstName='Lisa',
    LastName='Cohen', 
    Address='Alenbi 99, Tel Aviv', 
    Phone="052-1234565", 
    Email='lisa@cohen.com')

session.add(Lisa)
session.commit()

2020-12-15 15:47:29,716 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 15:47:29,718 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 15:47:29,718 INFO sqlalchemy.engine.base.Engine ('Lisa', 'Cohen', None, 'Alenbi 99, Tel Aviv', '052-1234565', 'lisa@cohen.com')
2020-12-15 15:47:29,720 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Nika = Customer(
    FirstName='Nika', 
    LastName='Rave', 
    Address='Green st, LA', 
    Phone="330-1234565", 
    Email='Nika@rave.com')

session.add(Nika)
session.commit()

2020-12-15 15:47:33,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 15:47:33,035 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 15:47:33,041 INFO sqlalchemy.engine.base.Engine ('Nika', 'Rave', None, 'Green st, LA', '330-1234565', 'Nika@rave.com')
2020-12-15 15:47:33,047 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Lisa_2 = Customer(
    FirstName='Lisa',
    LastName='White', 
    Address='Alenbi 66, Tel Aviv', 
    Phone="062-1234565", 
    Email='lisa@White.com')

session.add(Lisa_2)
session.commit()

2020-12-15 15:47:36,015 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-15 15:47:36,018 INFO sqlalchemy.engine.base.Engine INSERT INTO customers ("FirstName", "LastName", "Company", "Address", "Phone", "Email") VALUES (?, ?, ?, ?, ?, ?)
2020-12-15 15:47:36,018 INFO sqlalchemy.engine.base.Engine ('Lisa', 'White', None, 'Alenbi 66, Tel Aviv', '062-1234565', 'lisa@White.com')
2020-12-15 15:47:36,021 INFO sqlalchemy.engine.base.Engine COMMIT

Посмотрим теперь на таблицу:

In [ ]:
customers_query = select([Customer.FirstName, Customer.Email])
display_results(customers_query)

2020-12-15 15:47:41,462 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."Email"
FROM customers
2020-12-15 15:47:41,465 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName            Email
0     Moshe  moshe@cohen.com
1      Lisa   lisa@cohen.com
2      Nika    Nika@rave.com
3      Lisa   lisa@White.com

In [ ]:
Customer.__dict__

mappingproxy({'Address': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a84c0>,
              'Company': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a8518>,
              'CustomerId': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022eb830>,
              'Email': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a8360>,
              'FirstName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a8308>,
              'LastName': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a8570>,
              'Phone': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x7fb8022a8468>,
              '__doc__': None,
              '__init__': <function __init__>,
              '__mapper__': <Mapper at 0x7fb8022bca90; Customer>,
              '__module__': '__main__',
              '__table__': Table('customers', MetaData(bind=None), Column('CustomerId', Integer(), table=<customers>, primary_key=True, nullable=False, default=Sequence('customer_id_seq', metadata=MetaData(bind=None))), Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False), Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False), Column('Company', NVARCHAR(length=80), table=<customers>), Column('Address', NVARCHAR(length=70), table=<customers>), Column('Phone', NVARCHAR(length=24), table=<customers>), Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False), schema=None),
              '__tablename__': 'customers',
              '_sa_class_manager': <ClassManager of <class '__main__.Customer'> at 7fb8022a8678>})

Операторы **desc**, **asc**, **order_by**

Оператор SQL ORDER BY выполняет сортировку выходных значений. Оператор SQL ORDER BY можно применять как к числовым столбцам, так и к строковым. В последнем случае, сортировка будет происходить по алфавиту.

`ORDER BY column_name [ASC | DESC]`

ASC - по возрастанию, DESC - по убыванию

In [ ]:
from sqlalchemy import *

In [ ]:
from sqlalchemy import desc, asc

customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email]).order_by(asc(Customer.FirstName), desc(Customer.LastName))
#customers_query = customers_query.order_by(asc(Customer.FirstName))

display_results(customers_query)

2020-12-15 15:47:56,924 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC
2020-12-15 15:47:56,926 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    White   lisa@White.com
1      Lisa    Cohen   lisa@cohen.com
2     Moshe    Cohen  moshe@cohen.com
3      Nika     Rave    Nika@rave.com

In [ ]:
customers_query = customers_query.order_by(desc(Customer.FirstName))

display_results(customers_query)

2020-12-15 15:48:00,956 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers ORDER BY customers."FirstName" ASC, customers."LastName" DESC, customers."FirstName" DESC
2020-12-15 15:48:00,958 INFO sqlalchemy.engine.base.OptionEngine ()

  FirstName LastName            Email
0      Lisa    White   lisa@White.com
1      Lisa    Cohen   lisa@cohen.com
2     Moshe    Cohen  moshe@cohen.com
3      Nika     Rave    Nika@rave.com

**where**
Оператор SQL WHERE служит для задания дополнительного условия выборки, операций вставки, редактирования и удаления записей.

`where condition`

In [ ]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa')

display_results(customers_query)

2020-12-15 15:48:06,041 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
WHERE customers."FirstName" = ?
2020-12-15 15:48:06,043 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

  FirstName LastName           Email
0      Lisa    Cohen  lisa@cohen.com
1      Lisa    White  lisa@White.com

In [ ]:
customers_query = select([Customer.FirstName, Customer.LastName, Customer.Email])
customers_query = customers_query.where(Customer.FirstName == 'Lisa').order_by(asc(Customer.LastName))

In [ ]:
display_results(customers_query)

2020-12-15 15:48:12,748 INFO sqlalchemy.engine.base.OptionEngine SELECT customers."FirstName", customers."LastName", customers."Email"
FROM customers
WHERE customers."FirstName" = ? ORDER BY customers."LastName" ASC
2020-12-15 15:48:12,751 INFO sqlalchemy.engine.base.OptionEngine ('Lisa',)

  FirstName LastName           Email
0      Lisa    Cohen  lisa@cohen.com
1      Lisa    White  lisa@White.com

Документация по операторам в SQLAchemy:

https://docs.sqlalchemy.org/en/13/core/sqlelement.html

## SQLAchemy + Pandas

In [ ]:
import pandas as pd

In [ ]:
#выведем название нашей таблицы
Item.__tablename__

'items'

In [ ]:
df = pd.read_sql('SELECT * FROM customers', conn)
df.tail()

2020-12-15 15:48:22,985 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM customers")
2020-12-15 15:48:22,986 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:22,987 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM customers")
2020-12-15 15:48:22,988 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:22,989 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers
2020-12-15 15:48:22,991 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com
3           4      Lisa  ...  062-1234565   lisa@White.com

[4 rows x 7 columns]

In [ ]:
# Если хотим получить отсортированные значения - ключевая команда ORDER BY
sql = """
SELECT 
    *
FROM
    customers
ORDER BY 
    LastName ASC;
"""
df = pd.read_sql(sql, conn)

df.head()

2020-12-15 15:48:33,110 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-15 15:48:33,111 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:33,114 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;
")
2020-12-15 15:48:33,116 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:33,118 INFO sqlalchemy.engine.base.Engine
SELECT
    *
FROM
    customers
ORDER BY
    LastName ASC;

2020-12-15 15:48:33,119 INFO sqlalchemy.engine.base.Engine ()

   CustomerId FirstName  ...        Phone            Email
0           1     Moshe  ...  053-5556789  moshe@cohen.com
1           2      Lisa  ...  052-1234565   lisa@cohen.com
2           3      Nika  ...  330-1234565    Nika@rave.com
3           4      Lisa  ...  062-1234565   lisa@White.com

[4 rows x 7 columns]

In [ ]:
# Если хотим получить уникальные значения - ключевая команда DISTINCT
df = pd.read_sql("""
SELECT 
    DISTINCT LastName
FROM
    customers
ORDER BY 
    LastName;
""", conn)

df.head()

2020-12-15 15:48:38,973 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-15 15:48:38,975 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:38,978 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;
")
2020-12-15 15:48:38,980 INFO sqlalchemy.engine.base.Engine ()
2020-12-15 15:48:38,981 INFO sqlalchemy.engine.base.Engine
SELECT
    DISTINCT LastName
FROM
    customers
ORDER BY
    LastName;

2020-12-15 15:48:38,983 INFO sqlalchemy.engine.base.Engine ()

  LastName
0    Cohen
1     Rave
2    White

# ДЗ
 Дедлайн **15.12.2020, 23:59**
  
- Решить первые 20 задач с сайта https://www.sql-ex.ru (Раздел SELECT(обучающий этап)). Оценивается пропорционально кол-ву выполненных задач. + 20 % (еще 15 задач)

- Дополнить таблицу 'items' и 'purchases' 5ью экземплярами (каждую) на Ваш Выбор. Важно: они должны быть привязаны к существующим покупателям Lisa, Nika, Moshe.
- При помощи запроса SQLAlchemy вывести все покупки Lisa. Вывести тоже самое при помощи Pandas.


<center><img src='https://github.com/ddvika/Data-Science-School-2020/blob/main/lecture_5/imgs/i-know-sql.jpg?raw=true'></center>

In [ ]:
#Дополнить таблицу 'items' и 'purchases' 5ью экземплярами (каждую) на Ваш Выбор. Важно: они должны быть привязаны к существующим покупателям Lisa, Nika, Moshe.

item_001 = Item(
    Name = 'AAA',
    Price = 100)
session.add(item_001)
session.commit()

item_002 = Item(
    Name = 'BBB',
    Price = 150)
session.add(item_002)
session.commit()

item_003 = Item(
    Name = 'CCC',
    Price = 200)
session.add(item_003)
session.commit()

item_004 = Item(
    Name = 'DDD',
    Price = 250)
session.add(item_004)
session.commit()

item_005 = Item(
    Name = 'EEE',
    Price = 300)
session.add(item_005)
session.commit()

In [ ]:
import datetime

purchase_001 = Purchase(
    ItemId = 1,
    CustomerId = 1,
    Date = datetime.date(2020, 12, 1))
session.add(purchase_001)
session.commit()

purchase_002 = Purchase(
    ItemId = 2,
    CustomerId = 2,
    Date = datetime.date(2020, 12, 2))
session.add(purchase_002)
session.commit()

purchase_003 = Purchase(
    ItemId = 3,
    CustomerId = 3,
    Date = datetime.date(2020, 12, 3))
session.add(purchase_003)
session.commit()

purchase_004 = Purchase(
    ItemId = 4,
    CustomerId = 4,
    Date = datetime.date(2020, 12, 4))
session.add(purchase_004)
session.commit()

purchase_005 = Purchase(
    ItemId = 5,
    CustomerId = 1,
    Date = datetime.date(2020, 12, 5))
session.add(purchase_005)
session.commit()

In [ ]:
purchases_query = select([Purchase.PurchaseId, Purchase.ItemId, Purchase.CustomerId, Purchase.Date])
#customers_query = customers_query.order_by(asc(Customer.FirstName))

display_results(purchases_query)

In [ ]:
items_query = select([Item.ItemId, Item.Name, Item.Price])
#customers_query = customers_query.order_by(asc(Customer.FirstName))

display_results(items_query)

In [ ]:
#При помощи запроса SQLAlchemy вывести все покупки Lisa. Вывести тоже самое при помощи Pandas.

За это задание у меня не будет баллов.
Обычный синтастис SQL не работает.
Попытки сделать это доступными мне средствами программирования, не прибегая к SQL как к таковому, дают ошибку типов данных.
Ни один из найденных в Сети вариантов я также применить не смог. Хотя, наверное, ничего сложного нет, просто я чего-то не знаю.
И голова уже, честно говоря, немного кругом идёт от SQL. :)

Был бы благодарен за ссылку на источник, где можно почитать, как это работает.